<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/header.ejs') %> 
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include('./inc/nav.ejs') %> 
    <section>
        <h1>Hakkımızda</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis sint autem quasi, doloribus blanditiis soluta illum odit suscipit? Blanditiis, nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut aliquid consequuntur pariatur consequatur. Deserunt ab facilis reiciendis minus eius.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, harum reiciendis earum, voluptatem natus sunt alias quidem facere ratione enim rerum quisquam expedita ut distinctio modi, possimus ab! Repudiandae, laborum?</p>
    </section>
</body>
</html>